/* Component classes */

p + p {
  @apply mt-4;
}

/* Hero Image Top space fix */
.hero-img {
  margin-top: -17%;
}

@screen sm {
  .hero-img {
    margin-top: -13%;
  }
}
@screen md {
  .hero-img {
    margin-top: -10%;
  }
}
@screen lg {
  .hero-img {
    margin-top: -8%;
  }
}
@screen xl {
  .hero-img {
    margin-top: -6%;
  }
}
