@font-face {
  font-family: 'Libre Caslon';
  src: url('/librecaslondisplay-regular-webfont.woff2') format('woff2'),
    url('/librecaslondisplay-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
