/* Utility classes */

@responsive {
  .col-2 {
    columns: 2;
  }
  .col-3 {
    columns: 3;
  }
}

.oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}

.list-dash > li {
  @apply relative;
  @apply pl-4;
}

.list-dash > li::before {
  content: '–';
  @apply left-0;
  @apply absolute;
}
